{% extends 'main/base.html' %}
{% block body %}
<table>
{% for obiekt in obiekty %}
<tr>
    <td><p>{{obiekt.name}} {{obiekt.lastname}} </p></td>
    <td style="padding-left:15px"><a href="{% url 'detail' obiekt.id %}">Pokaż CV</a></td>
    <td style="padding-left:15px"><a href="{% url 'cvdelete' obiekt.id %}">Usuń rekord</a></td>
    <td style="padding-left:15px"><a href="{% url 'cvedit' obiekt.id %}">Edytuj rekord</a></td>
</tr>
{% endfor %}
</table>
<br>
<a href="{% url 'cvcreate' %}">Dodaj nowe CV</a>

{% endblock %}