<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <style>
    .box{
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 1169px;
    width: 827px;
  }
  .foto{
    margin-top:30px;
    padding-right: 70px;
  }
  h2{
    font-size: 180%;
    color:#008ae6;
  }
  .totable{
    padding-left: 10px;
  }
  td{
    padding-top: 10px;
  }
  </style>
</head>
<body>
<a href="{% url 'home' %}"><-- HOME</a>
  <div class="container-fluid box">
    <div class="row">
    <div class="col-md-7">
      <div class="container-fluid">
        <div style="padding-left:20px;padding-top:20px">
        <h1 style="color:#008ae6;">{{dane.name}} {{dane.lastname}}</h1>
        <h4 style="margin-bottom:10px;">{{dane.email}}</h4>
        <div style="padding-left: 30px;">
          <table>
            <tr class="inter"><td><i class="glyphicon glyphicon-earphone fa-x"></td>
              <td class="totable">111-222-333</i></td>
            </tr>
            <tr class="inter"><td><i class="glyphicon glyphicon-home fa-x"></td>
              <td class="totable">{{dane.street}}<br>80-000 Gdańsk</i></td>
            </tr>
            <tr class="inter"><td><i class="glyphicon glyphicon-user fa-x"></td>
              <td class="totable">1.10.1999</i></td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <img src="https://peopledotcom.files.wordpress.com/2011/08/capybara-1-300.jpg" alt="Capybara" class="foto text-center img-responsive" style="height:240px;">
    </div>
    </div>

    <br>
    <div>
      <h2>Doświadczenie</h2>
      <hr style="height:2px;border-width:0;color:blue;background-color:#008ae6;margin-top:0px;"/>
      <div class="row">
        <div class="col-md-2">
          <p style="background-color:powderblue;">2016-2017</p>
        </div>
        <div class="col-md-10">
          <p>Cos tam - ktoś tam</p>
        </div>
      </div>
    </div>

    <br>
    <div>
      <h2>Wykształcenie</h2>
      <hr style="height:2px;border-width:0;color:blue;background-color:#008ae6;margin-top:0px;"/>
      <div class="row">
        <div class="col-md-2">
          <p style="background-color:powderblue;">2016-2017</p>
        </div>
        <div class="col-md-10">
          <p>Coś jakoś - ktoś tam</p>
        </div>
      </div>
    </div>

    <br>
    <div>
      <h2>Umiejętności</h2>
      <hr style="height:2px;border-width:0;color:blue;background-color:#008ae6;margin-top:0px;"/>
      <div class="row">
        <div class="col-md-2">
          <p style="background-color:powderblue;">2016-2017</p>
        </div>
        <div class="col-md-10">
          <p>123 123 321 </p>
        </div>
      </div>
    </div>

    <br>
    <div>
      <h2>Języki obce</h2>
      <hr style="height:2px;border-width:0;color:blue;background-color:#008ae6;margin-top:0px;"/>
      <div class="row">
        <div class="col-md-2">
          <p style="background-color:powderblue;">2016-2017</p>
        </div>
        <div class="col-md-10">
          <p>Polski</p>
        </div>
      </div>
    </div>

        <br>
    <div>
      <h2>Zainteresowania</h2>
      <hr style="height:2px;border-width:0;color:blue;background-color:#008ae6;margin-top:0px;"/>
      <div class="row">
        <div class="col-md-2">
          <p style="background-color:powderblue;">2016-2017</p>
        </div>
        <div class="col-md-10">
          <p>Granie w gre!</p>
        </div>
      </div>
    </div>

    <div class="text-center" style="margin-top:30px;">
      <i style="font-size:70%;">Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; tekst jednolity: Dz. U. 2016 r. poz. 922). </i>
    </div>

  </div>
</body>