{% extends 'main/base.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-2">Imię: </label>
        <div class="col-sm-10">{{ form.username }}</div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Nazwisko: </label>
        <div class="col-sm-10">{{ form.password }}</div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">E-mail: </label>
        <div class="col-sm-10">{{ form.email }}</div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Ulica i numer mieszkania: </label>
        <div class="col-sm-10">{{ form.email }}</div>
    </div>
    <input type="submit">
</form>
{% endblock %}
<!--<form action="." method="post">-->
    <!--{% csrf_token %}    -->
    <!--User:-->
    <!--<input type="text" name="user" value="{{ profile.user.username}}" /><br />-->
    <!--Name:-->
    <!--<input type="text" name="name" value="{{ profile.name}}" /><br />-->

    <!--Address:-->
    <!--<input type="text" name="address" value="{{ profile.address}}" /><br />-->
    <!--Designation:-->
    <!--<input type="text" name="designation" value="{{ profile.designation}}" /><br />-->

    <!--Email:-->
    <!--<input type="text" name="email" value="{{ profile.email}}" /><br />-->
    <!--Role:-->
    <!--<input type="text" name="role" value="{{ profile.role}}" /><br />-->

    <!--Project:-->
    <!--<input type="text" name="project" value="{{ profile.project}}" /><br />-->
    <!--Task:-->
    <!--<input type="text" name="task" value="{{ profile.task}}" /><br />-->

    <!--<input type="submit" value="Save Changes" name="save" />-->
    <!--<input type="reset" value="Cancel" name="cancel" />-->
    <!--<br/>-->
<!--</form>-->
