{% extends 'main/base.html' %}
{% block body %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info {{ message.tags }}" role="alert"><b>{{ message }}</b></div>
        <!--<div class="alert {{ message.tags }}">{{ message }}</div>-->
        <!--<li  class="{{ message.tags}}">{{ message }}</li>-->
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    {% include 'main/form-template.html' %}
    <input type="submit" value="Zaloguj">
</form>

{% endblock %}